<a href="https://colab.research.google.com/github/MJuliana1065/PROGCOM-A/blob/main/Clase_2_Estructuras_de_repetici%C3%B3n.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Estructuras de repetición
permite repetir una o más acciones de acuerdo con una condición  
(mientras se cumpla la condición).

##Estructura para - for

1. cuando se sabe cuántas veces se repite una acción.
2. Está conformado por una condición inicial (CI) una condición final (CF) y pasos (frecuencia de repetición).
3. Esta estructura no se detendrá, hasta alcanzar CF - 1

Estructura general del for
```
for (variable) in range (CI,CF+1,paso):
  Se repite (CF+1-CI)/paso veces una acción
```

Estructura resumida el for
```
for (variable) in range (cantidad):
  Se repite cantidad de veces una acción
```

Estructura for como iteración
1. El para (for) itera tantas veces, como elementos tenga la lista
2. La variable toma el valor de cada elemento de la lista por iteración
```
Lista=[1,2,3,4,5]
for (variable) in Lista:
  Se repite len(Lista)
```

In [ ]:
print(f"Tabla del 1 al 10")
print("")
for tabla in range(1,11):
  print(f"Tabla del {tabla}")
  for numero in range(1,11):
    print(f"{tabla} x {numero} = {tabla*numero} ")
  print("")

Tabla del 1 al 10

Tabla del 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Tabla del 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Tabla del 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Tabla del 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Tabla del 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Tabla del 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Tabla del 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Tabla del 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Tabla del 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
print(f"Tabla del {n}")
for holitas in range(10):
  print(f"{n} x {holitas+1} = {n*(holitas+1)}")

Tabla del []
[] x 1 = []
[] x 2 = []
[] x 3 = []
[] x 4 = []
[] x 5 = []
[] x 6 = []
[] x 7 = []
[] x 8 = []
[] x 9 = []
[] x 10 = []

In [ ]:
n=7
print(f"Tabla del {n}")
for holitas in range(n,10*n,n):
  print(f"{n} x {int(holitas/n)} = {int(n*holitas/n)}")

Tabla del 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63

In [ ]:
numeros=[1,2,3,4,5,6,7,8,9,10]
for num in numeros:
  print(f"{n} x {num} = {n*num}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

##Listas

1. Es un tipo de datos
2. Tpdps los elemtos de una lista, **DEBEN** separar por comas
3. Forma canónica para declarar una lista


```
(variable)=[]
```
 Ejmplo:
 flores=["amapola", "tulipan", "lengua de suegra", "dahlia", "rosa"]

 #sino tienen comillas no es alfanumerica
 7. Estructuras **para** para ña creación de listas



```
#Ejemplo: Crear una lista de 5 elemtnos

lista=[] #para que el programa sepa que es una lista
for loquesea in range(5):
lista=input("ingrese el nombre de una flor")

```

In [5]:
 dahlia=3 #variable de tipo númerica, int
 rosa="cinco" #variable de tipo alfanumerico, str
 flores=["amapola", "tulipan", "lengua de suegra", "dahlia", "rosa"]

4. Manual.


```
Lista2=[dato1,dato2,dato3...datoN]

  ```
5. Siempre son finitas
6. Son indexadas (es decir, es la posicion de la lista)


```
Lista2=[dato1,dato2,dato3...datoN]
 ```

dato1 está en el index 0
dato2 está ubicado en el index 1

In [6]:
lista=[]
for loquesea in range(5):
  lista=input("ingrese el nombre de una flor")

ingrese el nombre de una floramapola
ingrese el nombre de una flortulipan
ingrese el nombre de una florlengua de suegra
ingrese el nombre de una flordahlia
ingrese el nombre de una florrosa

In [7]:
flores

['amapola', 'tulipan', 'lengua de suegra', 'dahlia', 'rosa']

In [8]:
#Quiero saber quien esta en la primera posicion
flores[0]

'amapola'

In [9]:
len(flores)

5

In [10]:
flores[len(flores)-1]

'rosa'

In [12]:
flores.index("lengua de suegra")

2

In [ ]:
type(lista)

In [ ]:
lista=[]
for loquesea in range(5):
  lista=input("ingrese el nombre de una flor")

In [13]:
lista=[]
for loquesea in range (5):
  lista.append(loquesea)

In [14]:
lista

[0, 1, 2, 3, 4]

In [ ]:
#mutabilidad e inmatubalidad y que procede con nuestras vidas y su importancia: mostrar errores

In [29]:
#Estructuras de repetición
#Escribe un programa que imprima los números del 1 al 10.

#forma 1
n=0
for n in range(1,11,1):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [37]:
#forma 2
lista=[1,2,3,4,5,6,7,8,9,10]
for n in lista:
  print(n)

1
2
3
4
5
6
7
8
9
10

In [39]:
#Escribe un programa que sume los números del 1 al 100.

for n in range(1,100,1):
  s=n+1
  print(s)

2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [102]:
lista=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
for n in lista:
  print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [68]:
#Escribe un programa que imprima los multiplos de 3 entre 1 y 30

#forma 1
for n in range(1,31):
  if n%3==0:
    print(n)

3
6
9
12
15
18
21
24
27
30

In [67]:
#forma 2
lista=[3,6,9,12,15,18,21,24,27,30]
for n in lista:
    print(n)

3
6
9
12
15
18
21
24
27
30

In [91]:
#Escribe un programa que lea un numero e imprima su tabla de multiplicar del 1 al 10

#forma 1
n1=int(input(" ingresa un numero "))
print(f"Tabla del {n1}")
for tb in range(n1,11*n1,n1):
  print("")
  print(f"{n1} x {int(tb/n1)} = {int(n1*tb/n1)} ")

 ingresa un numero 5
Tabla del 5

5 x 1 = 5

5 x 2 = 10

5 x 3 = 15

5 x 4 = 20

5 x 5 = 25

5 x 6 = 30

5 x 7 = 35

5 x 8 = 40

5 x 9 = 45

5 x 10 = 50

In [97]:
#forma 2
lista=[1,2,3,4,5,6,7,8,9]
n=int(input("ingresa un numero"))
for n in lista:
  print(f"la tabla es {n*lista}")

ingresa un numero2

TypeError: 'list' object is not callable