<a href="https://colab.research.google.com/github/MJuliana1065/PROGCOM-A/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Crear una lista con los cuadrados de los números del 1 al 10.
num1_10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
cuadrados =[i**2 for i in num1_10]
cuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Obtener una lista con los números pares del 0 al 20.
p=[i for i in range(21) if i % 2 == 0]
p

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:

d=[i*2 for i in range(1,6)]
d

[2, 4, 6, 8, 10]

In [ ]:
# De la palabra "programacion", obtener solo las vocales.

lista="programacion"
v=[i for i in lista if i in "aeiou"]
v

['o', 'a', 'a', 'i', 'o']

In [ ]:

# Dada la lista ["python", "java", "c++"], obtener otra lista con las palabras en mayúsculas.
c_palabras=["python", "java", "c++"]
m=[i.upper() for i in c_palabras]
m

['PYTHON', 'JAVA', 'C++']

In [ ]:
par=[i for i in range(1,11) if i%2==0]
print(par)
impar=[i for i in range(1,10) if i%2!=0]
print(impar)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
t=[(i,i**2) for i in range(1,6)]
print(t)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
letras=["a","b"]
numeros=[1,2,3]
comb=[(letra, numero) for letra in letras for numero in numeros]
print(comb)

[('a', 1), ('a', 2), ('a', 3), ('b', 1), ('b', 2), ('b', 3)]

In [ ]:
lista_palabras=["sol", "estrella", "mar", "planeta"]
l4=[i for i in lista_palabras if len(i) > 4 ]
l4

['estrella', 'planeta']

In [ ]:
temperaturas=[8,20,34,38,9,13,31,27,26,7]
l3=[(i,"frío") if i<26 else (i,"templado" if 26 <= i <= 29 else "caliente") for i in temperaturas]
print(l3)

[(8, 'frío'), (20, 'frío'), (34, 'caliente'), (38, 'caliente'), (9, 'frío'), (13, 'frío'), (31, 'caliente'), (27, 'templado'), (26, 'templado'), (7, 'frío')]